.form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgb(145, 100, 235)0 5px 15px;
}
.label {
    width: 100%;
}
.text {
    font-size: 16px;
    text-align: start;
    margin-bottom: 4px;
}
.input {
    width: 340px;
    height: 30px;
    padding-left: 8px;
}

.input:hover,
.input:focus {
    outline: transparent;
}

.btn {
    background-color: rgb(53, 50, 50);
    transition: border-color 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
    border-color: white;
    outline: transparent;
}

.error {
    font-weight: 600;
    font-size: 14px;
    color: red;
}