.nav {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.link {
font-size: 20px;
color: white;
transition: color 250 ms ease-in-out;
}

.active {
    color: rgb(145, 100, 235);
}